@model WebsitePhucKhao.Models.NamHoc

@{
    ViewData["Title"] = "Thêm Năm Học";
}

<h2>Thêm Năm Học Mới</h2>

<form asp-action="Add" method="post">


    <div class="form-group">
        <label asp-for="TenNamHoc">Tên Năm Học</label>
        <input asp-for="TenNamHoc" class="form-control" required />
        <span asp-validation-for="TenNamHoc" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Thêm</button>
    <a asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>
