@model WebsitePhucKhao.ViewModels.GiangVienEditViewModel

@{
    ViewData["Title"] = "Chỉnh sửa thông tin cá nhân";
    Layout = "~/Areas/GiangVien/Views/Shared/_LayoutGiangVien.cshtml";
}

<h2 class="text-primary">@ViewData["Title"]</h2>

<form asp-action="EditThongTinCaNhan" method="post">
    <input type="hidden" asp-for="MaGiangVien" />

    <div class="form-group mb-3">
        <label asp-for="HoTen"></label>
        <input asp-for="HoTen" class="form-control" />
        <span asp-validation-for="HoTen" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="SoDienThoai"></label>
        <input asp-for="SoDienThoai" class="form-control" />
        <span asp-validation-for="SoDienThoai" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary">
        <i class="fas fa-save me-1"></i> Lưu thay đổi
    </button>
    <a asp-action="ThongTinCaNhan" class="btn btn-secondary ms-2">
        <i class="fas fa-arrow-left me-1"></i> Quay lại
    </a>
</form>
