@model WebsitePhucKhao.Models.HocKy

<h2>Cập nhật Học Kỳ</h2>

<form asp-action="Update">
    <input type="hidden" asp-for="MaHocKy" />
    <div class="form-group">
        <label>Tên Học Kỳ</label>
        <input asp-for="TenHocKy" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Lưu</button>
</form>
